<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Form user edit - Training Monitoring App</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

</head>
<body>
<nav th:insert="~{fragments/navbar :: navbar}"></nav>


<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5"
                            th:text="'You are editing '+${user.username} +' details.'"></h3>
                        <div th:if="${editedUserSuccessfully}" class="alert alert-success col-xs-offset-1 col-xs-10">
                            <i> You edited the user successfully!</i>
                        </div>

                        <form th:action="@{/admin/users/editingUserProcessing}" method="POST" th:object="${user}">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" class="form-control form-control-lg bg-light" id="username"
                                               name="username" th:field="*{username}" readonly/>
                                        <label for="username" class="form-label">Username</label>
                                        <div class="invalid-feedback">
                                            Please choose a username.
                                        </div>
                                        <br/>
                                        <span th:if="${#fields.hasErrors('username')}"
                                              th:errors="*{username}"
                                              class="text-danger"></span>
                                        <span th:if="${userExist!=null}" class="text-danger"> User exist</span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4" th:object="${userDetails}">
                                    <div class="form-outline">
                                        <input type="text" class="form-control form-control-lg" id="email"
                                               name="email" th:field="*{email}"/>
                                        <label for="email" class="form-label">Email</label>
                                        <br/>
                                        <span th:if="${#fields.hasErrors('email')}"
                                              th:errors="*{email}"
                                              class="text-danger"></span>
                                        <span th:if="${userExist!=null}" class="text-danger"> Email exist</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="password" class="form-control form-control-lg" id="password"
                                               name="password"/>
                                        <label for="password" class="form-label">Password</label>
                                        <br/>
                                        <span th:if="${#fields.hasErrors('password')}"
                                              th:errors="*{password}"
                                              class="text-danger">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="password" class="form-control form-control-lg" id="passwordRepeat"
                                               name="passwordRepeat" onfocusout="isEqual()" onfocusin="hide()"/>
                                        <label for="passwordRepeat" class="form-label">Repeat password</label>
                                        <br/>
                                        <span id="errorMatching" class="text-danger"></span>
                                        <span th:if="${#fields.hasErrors('passwordRepeat')}"
                                              th:errors="*{passwordRepeat}"
                                              class="text-danger">
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div th:object="${userDetails}">

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="firstName" class="form-control form-control-lg"
                                                   name="firstName" th:field="*{firstName}"/>
                                            <label class="form-label" for="firstName">First Name</label>
                                            <br/>
                                            <span th:if="${#fields.hasErrors('firstName')}"
                                                  th:errors="*{firstName}"
                                                  class="text-danger">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="lastName" class="form-control form-control-lg"
                                                   name="lastName" th:field="*{lastName}"/>
                                            <label class="form-label" for="lastName">Last Name</label>
                                            <br/>
                                            <span th:if="${#fields.hasErrors('lastName')}"
                                                  th:errors="*{lastName}"
                                                  class="text-danger">
                                        </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4 d-flex align-items-center">

                                        <div class="form-outline datepicker w-100">
                                            <input type="date" class="form-control form-control-lg" id="birthdayDate"
                                                   name="birthday" th:field="*{birthday}"/>
                                            <label for="birthdayDate" class="form-label">Birthday</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <select class="form-select" aria-label="gender" name="gender"
                                                id="gender">
                                            <option value="Male" th:selected="${userDetails.gender == 'Male'}">Male
                                            </option>
                                            <option value="Female" th:selected="${userDetails.gender == 'Female'}">
                                                Female
                                            </option>
                                            <option value="Female" th:selected="${userDetails.gender == 'Other'}">
                                                Other
                                            </option>
                                        </select>
                                        <label for="gender" class="form-label">Gender</label>
                                    </div>
                                </div>

                            </div>


                            <div class="mt-4 pt-2">
                                <a th:href="@{/admin/users/list}" class="btn btn-secondary btn-lg active" role="button"
                                   aria-pressed="true">Go Back</a>
                                <input id="submitButton" class="btn btn-primary btn-lg active" type="submit"
                                       value="Edit"/>
                            </div>

                        </form>
                        <br/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/scripts/editAccount.js"></script>
</body>
</html>