<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List - Training Monitoring App</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>
<nav th:insert="~{fragments/navbar :: navbar}"></nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">User management</h1>
        <hr>
        <br/>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email address</th>
                <th scope="col">Is active</th>
                <th scope="col">Role</th>
                <th scope="col">Edit</th>
                <th scope="col">Privileges</th>
                <th scope="col">More details</th>
            </tr>

            </thead>
            <tbody>
                <tr th:each="tempUser :${usersList}">
                    <td th:text="${tempUser.getUsername()}" th:id="'usernameFor:'+${tempUser.getUsername()}"></td>
                    <td th:text="${tempUser.getEmail()}" th:id="'emailFor:'+${tempUser.getUsername()}"></td>
                    <td th:text="${tempUser.isActive()}" th:id="'isActiveFor:'+${tempUser.getUsername()}"></td>
                    <td th:text="${tempUser.getRole()}" th:id="'roleNameFor:'+${tempUser.getUsername()}"></td>
                    <td><a class="btn btn-outline-primary"
                           th:href="@{/admin/users/edit/form(userId=${tempUser.getId()})}">Edit</a></td>
                    <td><a class="btn btn-outline-danger"
                           th:attr="onclick=|privilegesAlert('${tempUser.getRole()}','${tempUser.getUsername()}','${tempUser.getId()}')|">Change
                        Privileges</a></td>
                    <td><a th:href="@{/admin/users/user/details(userId=${tempUser.getId()})}"
                           class="btn btn-outline-success">More
                        Details</a></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<script src="/scripts/privilegesAlertInUsersDetails.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>