<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exercises List - Training Monitoring App</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>


</head>
<body>

<nav th:insert="~{fragments/navbar :: navbar}"></nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Exercises List</h1>
        <hr>
        <br/>
        <table class="table" id="table_id">
            <thead>
            <tr>
                <th scope="col" data-sortable="true">Exercise name</th>
                <th scope="col" data-sortable="true">Exercise category name</th>
            </tr>
            </thead>
            <tbody>
                    <tr th:each="tempExercise :${exercisesList}">
                        <td th:text="${tempExercise.getName()}"></td>
                        <td th:text="${tempExercise.getCategoryName()}"></td>
                    </tr>
            </tbody>

        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable({
            "ordering": true,
            "pagingType": "simple",
            "lengthMenu": [ 20,50,70],

        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>