<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Own Exercises List - Training Monitoring App</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>

<nav th:insert="~{fragments/navbar :: navbar}"></nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Own Exercises List</h1>
        <hr>
        <br/>
        <button type="button" class="btn btn-success" id="showFormButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-plus-circle-dotted" viewBox="0 0 16 16">
                <path d="M8 0q-.264 0-.523.017l.064.998a7 7 0 0 1 .918 0l.064-.998A8 8 0 0 0 8 0M6.44.152q-.52.104-1.012.27l.321.948q.43-.147.884-.237L6.44.153zm4.132.271a8 8 0 0 0-1.011-.27l-.194.98q.453.09.884.237zm1.873.925a8 8 0 0 0-.906-.524l-.443.896q.413.205.793.459zM4.46.824q-.471.233-.905.524l.556.83a7 7 0 0 1 .793-.458zM2.725 1.985q-.394.346-.74.74l.752.66q.303-.345.648-.648zm11.29.74a8 8 0 0 0-.74-.74l-.66.752q.346.303.648.648zm1.161 1.735a8 8 0 0 0-.524-.905l-.83.556q.254.38.458.793l.896-.443zM1.348 3.555q-.292.433-.524.906l.896.443q.205-.413.459-.793zM.423 5.428a8 8 0 0 0-.27 1.011l.98.194q.09-.453.237-.884zM15.848 6.44a8 8 0 0 0-.27-1.012l-.948.321q.147.43.237.884zM.017 7.477a8 8 0 0 0 0 1.046l.998-.064a7 7 0 0 1 0-.918zM16 8a8 8 0 0 0-.017-.523l-.998.064a7 7 0 0 1 0 .918l.998.064A8 8 0 0 0 16 8M.152 9.56q.104.52.27 1.012l.948-.321a7 7 0 0 1-.237-.884l-.98.194zm15.425 1.012q.168-.493.27-1.011l-.98-.194q-.09.453-.237.884zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a7 7 0 0 1-.458-.793zm13.828.905q.292-.434.524-.906l-.896-.443q-.205.413-.459.793zm-12.667.83q.346.394.74.74l.66-.752a7 7 0 0 1-.648-.648zm11.29.74q.394-.346.74-.74l-.752-.66q-.302.346-.648.648zm-1.735 1.161q.471-.233.905-.524l-.556-.83a7 7 0 0 1-.793.458zm-7.985-.524q.434.292.906.524l.443-.896a7 7 0 0 1-.793-.459zm1.873.925q.493.168 1.011.27l.194-.98a7 7 0 0 1-.884-.237zm4.132.271a8 8 0 0 0 1.012-.27l-.321-.948a7 7 0 0 1-.884.237l.194.98zm-2.083.135a8 8 0 0 0 1.046 0l-.064-.998a7 7 0 0 1-.918 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"></path>
            </svg>
            Add new exercise
        </button>
        <br/><br/>

        <div class="card w-50" id="addNewExercise" style="display:none">
            <div class="card-body">
                <form th:action="@{/user/exercises/ownExercise/add}" method="POST">
                    <div class="row">
                        <div class="col-8 col-sm-8">
                            <input type="text" class="form-control form-control-lg"
                                   id="name" name="name" required>
                            <label for="name" class="form-label">Exercise name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 col-sm-8">
                            <select class="form-select" aria-label="category" name="category"
                                    id="category">
                                <option th:each="category : ${exercisesCategoryList}"
                                        th:value="${category}" th:text="${category}"></option>
                            </select>
                            <label for="category" class="form-label">Exercise Category</label>
                        </div>
                    </div>

                    <div class="mt-2 pt-1">
                        <div class="mt-2 pt-1">
                            <button id="submitButton" class="btn btn-primary btn-lg" type="submit" value="Submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"></path>
                                </svg>
                                Add
                            </button>
                            <button type="reset" class="btn btn-secondary btn-lg active" onclick="clearForm()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                                </svg>
                                Clear
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="card w-50" id="editExercise" th:if="${ownExercise != null}">
            <div class="card-body">
                <b>Editing:</b>
                <br>
                <hr>
                <form th:action="@{/user/exercises/ownExercise/edit}" method="POST">
                    <div class="row">
                        <div class="col-8 col-sm-8">
                            <input type="hidden" class="form-control form-control-lg"
                                   id="id" name="id" th:field="${ownExercise.exerciseId}" required>
                            <input type="text" class="form-control form-control-lg"
                                   id="newName" name="newName" th:value="${ownExercise.name}">
                            <label for="newName" class="form-label">Exercise name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 col-sm-8">
                            <select class="form-select" aria-label="newCategory" name="newCategory"
                                    id="newCategory">
                                <option th:each="category : ${exercisesCategoryList}"
                                        th:value="${category}" th:text="${category}"
                                        th:selected="${category} == ${ownExercise.getExercisesCategory().getName()}"></option>
                            </select>
                            <label for="newCategory" class="form-label">Exercise Category</label>
                        </div>
                    </div>

                    <div class="mt-2 pt-1">
                        <div class="mt-2 pt-1">
                            <button id="editButton" class="btn btn-primary btn-lg" type="submit" value="Edit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"></path>
                                </svg>
                                Edit
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br><br>
        <table class="table" id="table_id">
            <thead>
            <tr>
                <th scope="col" data-sortable="true">Exercise name</th>
                <th scope="col" data-sortable="true">Exercise category name</th>
                <th scope="col" data-sortable="false">Edit</th>
                <th scope="col" data-sortable="false">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempExercise :${exercisesList}">
                <td th:text="${tempExercise.getName()}"></td>
                <td th:text="${tempExercise.getCategoryName()}"></td>
                <td><a th:href="@{/user/exercises/ownExercise/{id}/edit(id=${tempExercise.getId()})}"
                       class="btn btn-outline-warning">Edit</a></td>
                <td><a th:href="@{/user/exercises/ownExercise/{id}/delete(id=${tempExercise.getId()})}"
                       class="btn btn-outline-danger">Remove</a></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
<script src="/scripts/ownExerciseScript.js"></script>
</body>
</html>