<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your exercises list - Training Monitoring App</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>

<nav th:insert="~{fragments/navbar :: navbar}"></nav>
<div></div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Show results by exercise</h1>
        <hr>
        <div th:insert="~{fragments/plan-menu :: planMenu}"></div>
        <br>
        <a class="btn btn-secondary" role="button" aria-pressed="true" th:href="@{/user/plan/list}">Go Back</a>
        <br><br>

            <br>
            <br>
            <div class="row">

                <h3> </h3>
                <div class="col-4">
                    <table class="table" id="table_id">
                        <thead>
                        <tr>
                            <th scope="col" data-sortable="true">Name</th>
                            <th scope="col" data-sortable="true">Category</th>
                            <th scope="col" data-sortable="true">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  th:each="exerciseEntry: ${mapExercisesByCategory.entrySet()}">
                            <td th:text="${exerciseEntry.key.name}"></td>
                            <td th:text="${exerciseEntry.key.getExercisesCategory().getName()}"></td>
                            <td><a th:href="@{/user/plan/results/get/{id}(id=${exerciseEntry.key.exerciseId})}"
                                    type="button" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square-fill" viewBox="0 0 16 16">
                                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2"></path>
                                </svg>
                                Show info
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

    </div>
</div>
<script>

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>