<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show results by exercise - Training Monitoring App</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>

<nav th:insert="~{fragments/navbar :: navbar}"></nav>
<div></div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Show results by exercise</h1>
        <hr>
        <div th:insert="~{fragments/plan-menu :: planMenu}"></div>
        <br>
        <a class="btn btn-secondary" role="button" aria-pressed="true" th:href="@{/user/plan/list}">Go Back</a>
        <br><br>
        <h3 th:text="${exercise.getName()}"></h3>
        <br>
        <br>
        <div class="row">
            <div class="col-8" id="jsonResults" th:attr="data-json=${jsonResults}">
                <canvas id="myChart" style="width:100%;max-width: 600px; height: 100%; min-height: 300px"></canvas>

            </div>
        </div>

        <br>
        <br>
        <div class="row">

            <div class="col-4">
                <table class="table" id="table_id">
                    <thead>
                    <tr>
                        <th scope="col" data-sortable="true">Date</th>
                        <th scope="col" data-sortable="true">Weight</th>
                        <th scope="col" data-sortable="true">Repetitions</th>
                    </tr>
                    </thead>
                    <tbody th:each="result : ${exerciseResult}">
                    <tr>
                        <td style="align-content:center;" th:text="${result.date}"></td>
                        <td><span style="display: block;" th:each="weight :${result.getWeight()}"
                                  th:text="${weight}+' '"> </span></td>
                        <td><span style="display: block;" th:each="repetitions :${result.getRepetitions()}"
                                  th:text="${repetitions}+' '"> </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<script src="/scripts/graphResult.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>