<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form workout progress - Training Monitoring App</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>

<nav th:insert="~{fragments/navbar :: navbar}"></nav>
<div ></div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Your training plans</h1>
        <hr>
        <div th:insert="~{fragments/plan-menu :: planMenu}"></div>
        <br>
        <a  class="btn btn-secondary" role="button" aria-pressed="true" th:href="@{/user/plan/list}">Go Back</a>
        <br><br>

        <form method="POST" th:action="@{/user/plan/results/proceed/{id}(id=${planId})}" th:object="${exercisesResultsForm}">
            <button id="submitButton" class="btn btn-primary btn-lg" type="submit" value="Submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"></path>
                </svg>
                Save Results
            </button>
            <br>
            <br>
            <div class="row" th:each="exercise: ${mapExercisesByCategory.entrySet()}"  >

                <br/> <br>
                <h3 th:text="${exercise.key}+':'"></h3>
                <hr>
                <div class="col-4" th:each="ex: ${exercise.value}">
                    <h3 class="card-header text-center font-weight-bold text-uppercase py-4" th:text="${ex.name}">
                    </h3>

                    <input hidden="true" th:value="${ex.id}"
                           th:name="'exerciseResults[' + ${ex.id} + '].idExerciseResult'"/>


                    <div id="table" class="table-editable">
                        <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                                class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>

                        <table class="table table-bordered table-responsive-md table-striped text-center">

                            <thead>
                            <tr>
                                <th class="text-center">Series</th>
                                <th class="text-center">Weight</th>
                                <th class="text-center">Repetitions</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="series :${#numbers.sequence(1,5)}">
                                <td class="pt-3-half" contenteditable="false" th:text="${series}"></td>
                                <td class="pt-3-half" contenteditable="false"><input type="number"
                                                                                     step="0.5"
                                                                                     min="0"
                                                                                     name="weight" id="weight"
                                                                                     class="form-control form-control-sm"
                                                                                     th:field="*{exerciseResults[__${ex.id}__].weight}"
                                />

                                </td>
                                <td class="pt-3-half" contenteditable="false"><input name="repetitions"
                                                                                     step="1"
                                                                                     type="number"
                                                                                     id="repetitions"
                                                                                     class="form-control form-control-nsm"
                                                                                     th:field="*{exerciseResults[__${ex.id}__].repetitions}"
                                />

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<script>

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>