<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Account Details - Training Monitoring App</title>
    <script defer src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body>
<nav th:insert="~{fragments/navbar :: navbar}"></nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">User Details</h1>
        <hr>
        <br/>


            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-lg-6 mb-4 mb-lg-0">
                        <div class="card mb-3" style="border-radius: .5rem;">
                            <div class="row g-0">
                                <div class="col-md-4 gradient-custom text-center text-white"
                                     style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                         alt="Avatar" class="img-fluid my-5" style="width: 80px;"/>
                                    <b>
                                        <p class="text-muted"
                                           th:text="${user.getUserDetails().firstName} +' '+ ${user.getUserDetails().lastName}"></p>

                                        <p class="text-muted" th:text="${user.username}"></p>
                                    </b>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-4">
                                        <h6>Information</h6>
                                        <hr class="mt-0 mb-4">
                                        <div class="row pt-1">
                                            <div class="col-6 mb-3">
                                                <h6>Email</h6>
                                                <p class="text-muted" th:text="${user.getUserDetails().email}"></p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>Gender</h6>
                                                <p class="text-muted" th:text="${user.getUserDetails().getGender()}"></p>
                                            </div>
                                        </div>
                                        <h6>Account</h6>
                                        <hr class="mt-0 mb-4">
                                        <div class="row pt-1">
                                            <div class="col-6 mb-3">
                                                <h6>Role</h6>
                                                <p class="text-muted"th:text="${user.getRole().getRoleName()}"></p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>Registration date</h6>
                                                <p class="text-muted" th:text="${user.getUserDetails().registrationDate}"></p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start">
                                            <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                            <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                            <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a th:href="@{/logged-in}" class="btn btn-secondary btn-lg active" role="button"
                           aria-pressed="true">Go Back</a>
                        <a  th:href="@{/user/edit(userId=${user.getUserId()})}"  class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit</a>
                    </div>
                </div>
            </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>