<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plan list - Training Monitoring App</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>

<nav th:insert="~{fragments/navbar :: navbar}"></nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Your training plans</h1>
        <hr>
        <div th:insert="~{fragments/plan-menu :: planMenu}"></div>
        <br>
        <a  class="btn btn-secondary" role="button" aria-pressed="true" th:href="@{/user/plan/list}">Go Back</a>
        <br>
        <br>

        <div class="row">
            <div class="col-4">
                <table class="table" id="table_id">
                    <thead>
                    <tr>
                        <th scope="col" data-sortable="true">Training plan</th>
                        <th scope="col" data-sortable="true">Description</th>
                        <th scope="col" data-sortable="true">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="plan :${trainingPlans}" th:if="${plan.isFilled==true}">
                        <td th:text="${plan.getName()}"></td>
                        <td th:text="${plan.getDescription()}"></td>
                        <td><a type="button" class="btn btn-success" th:href="@{/user/plan/results/run/{id}(id=${plan.getPlanId()})}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"></path>
                            </svg>
                            Start
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>