<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form editing your plan - Training Monitoring App</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>

<nav th:insert="~{fragments/navbar :: navbar}"></nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Edit Plan</h1>
        <hr>
        <br/>

        <div th:insert="~{fragments/plan-menu :: planMenu}"></div>
        <br>
        <a  class="btn btn-secondary" role="button" aria-pressed="true" th:href="@{/user/plan/list}">Go Back</a>
        <br>
        <br>

        <div class="card w-50" id="addNewPlan">
            <div class="card-body">
                <form th:action="@{/user/plan/addProcessing}" method="POST" th:object="${plan}">
                    <input type="hidden" class="form-control form-control-lg"
                           id="id" name="id" th:field="${plan.planId}">
                    <div class="row">
                        <div class="col-8 col-sm-8">
                            <input type="text" class="form-control form-control-lg"
                                   id="name" name="name" required th:field="${plan.name}">
                            <label for="name" class="form-label">Plan name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 col-sm-8">
                            <input type="text" class="form-control form-control-lg"
                                   id="description" name="description" th:field="${plan.description}">
                            <label for="description" class="form-label">Description</label>
                        </div>
                    </div>

                    <div class="mt-2 pt-1">
                        <div class="mt-2 pt-1">
                            <button id="submitButton" class="btn btn-primary btn-lg" type="submit" value="Submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"></path>
                                </svg>
                                Save
                            </button>
                            <button type="reset" class="btn btn-secondary btn-lg active" onclick="clearForm()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                                </svg>
                                Clear
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>