<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Training Plans- Training Monitoring App</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>

<nav th:insert="~{fragments/navbar :: navbar}"></nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Your training plans</h1>
        <hr>
        <div th:insert="~{fragments/plan-menu :: planMenu}"></div>
        <br>
        <br>
        <br><br>


        <table class="table" id="table_id" >
            <thead>
            <tr>
                <th scope="col" data-sortable="true">Action</th>
                <th scope="col" data-sortable="true">Training plan</th>
                <th scope="col" data-sortable="true">Description</th>
                <th scope="col" data-sortable="false">Manage</th>
                <th scope="col" data-sortable="false">Edit</th>
                <th scope="col" data-sortable="false">Remove</th>
                <th scope="col" data-sortable="false">Message</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="plan :${trainingPlans}" >
                <td ><a th:href="@{/user/plan/results/run/{id}(id=${plan.getPlanId()})}"
                       class="btn btn-outline-success" th:if="${plan.isFilled==true}">Go</a></td>
                <td th:text="${plan.getName()}"></td>
                <td th:text="${plan.getDescription()}"></td>
                <td><a th:href="@{/user/plan/manage/{id}(id=${plan.getPlanId()})}"
                       class="btn btn-outline-primary">Manage</a></td>
                <td><a th:href="@{/user/plan/edit/{id}(id=${plan.getPlanId()})}"
                       class="btn btn-outline-info">Edit</a></td>
                <td><a th:href="@{/user/plan/delete/{id}(id=${plan.getPlanId()})}"
                       class="btn btn-outline-warning">Remove</a></td>
                <td th:if="${plan.isFilled==true}">
                </td>
                <td th:if="${plan.isFilled==false}">
                    <button type="button" class="btn btn-outline-danger" disabled >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"></path>
                            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"></path>
                        </svg>
                        This plan is empty!
                    </button>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>